*{
    font-family: 'Roboto', sans-serif;
}
.page{
    display: flex;
}
.contactos{
    min-width: 27vh;
    display: flex;
    flex-direction: column;
    width: 18%;
    min-height: 100vh;
    border-right: 1px solid #BBB;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 4% 8% 4% 8%;
}
.user-status{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.user-status img{
    border-radius: 50%;
    width: 3em;
    height: auto;
    border: solid 2px #d6d9d1;
}
.status{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.user-icon{
    display: flex;
    color: gray;
    margin-right: 8%;
}
.user-icon i{
    padding: 0% 30% 0% 0%; 

}
.usuario{
    margin-block-start: 2px;
    margin-block-end: 2px;
}
.online{
    opacity: 60%;
}
.last-message{
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 100%;
}
.last-chat{
    margin-block-start: 2px;
    margin-block-end: 2px;
}
.solid{
    border: 1px solid #bbb;
    width: 99.5%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    background-color: #A491D2;
    color: white;
    padding: 5% 17%;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin: 7% 0px;
    font-weight: 100;
}
.main{
    background-color: #E8EBE4;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main img{
    width: 20%;
    height: auto;
}
.main p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    width: 45%;
    font-size: 1.5em;
    font-weight: 100;
}
.main h1{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 4rem;
    font-weight: 100;
}
.thumbnail-chat{
    width: 4.3em !important;
}